@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2f7;
  font-family: "Roboto", arial;
}

/* ------------------------- */
/* Header */
/* ------------------------- */
header {
  overflow: hidden;
  background: #303f9f;
}

header .logo {
  float: left;
  padding: 12px;
  text-decoration: none;
  border-radius: 16px;
}

header .logo:active {
  background: #fff;
}

header .logo img {
  width: auto;
  height: 50px;
}

header .header-right {
  float: right;
}

header .header-right a {
  float: left;
  color: #111111;
  padding: 16px;
  text-decoration: none;
  font-size: 24px;
  margin: 8px;
  border-right: 2px solid #3e4a97;
  border-left: 2px solid #3e4a97;
  border-radius: 16px;
}

header .header-right a:active {
  color: #fff;
}

/* ----- ----- Pestañas ----- ----- */
.tablink {
  background: #666666;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 16px;
  width: 33.33%;
  text-decoration: none;
  text-align: center;
}

.tablink.active {
  background: #0074d9;
}

.tablink.active:hover {
  background: rgba(0, 116, 217, 0.9);
}

.tablink:hover {
  background: #777777;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

/* ------------------------- */
/* Formulario */
/* ------------------------- */
.wrap {
  width: 90%;
  max-width: 600px;
  padding: 40px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
  margin-bottom: 20px;
}

.contenedor-formulario {
  width: 100%;
  padding: 60px;
}

.contenedor-formulario .formulario {
  width: 100%;
  margin: auto;
}

.contenedor-formulario .formulario .input-group {
  position: relative;
  margin-bottom: 32px;
}

.contenedor-formulario .formulario .input-group label {
  color: #303f9f;
  margin: 4px;
}

.contenedor-formulario .formulario .input-group.checkbox label {
  display: inline-block;
  cursor: pointer;
  color: #303f9f;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 16px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contenedor-formulario .formulario .input-group.checkbox label:hover {
  background: #bbdefb;
}

.contenedor-formulario .formulario .input-group.checkbox label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  border-radius: 50%;
  background: none;
  border: 2px solid #303f9f;
}

.contenedor-formulario .formulario .input-group.error label {
  color: #d32f2f;
}

.contenedor-formulario .formulario .input-group.error label:hover {
  background: rgba(211, 47, 47, 0.2);
}

.contenedor-formulario .formulario .input-group.error label:before {
  border: 2px solid #d32f2f;
}

.contenedor-formulario .formulario .input-group.checkbox label:before {
  border-radius: 3px;
}

.contenedor-formulario .formulario .input-group.checkbox input[type='checkbox'] {
  display: none;
}

.contenedor-formulario .formulario .input-group.checkbox input[type='checkbox']:checked + label:before {
  display: none;
}

.contenedor-formulario .formulario .input-group.checkbox input[type='checkbox']:checked + label {
  background: #303f9f;
  color: #f2f2f2;
  padding: 5px 15px;
}

.contenedor-formulario .formulario .input-group textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #b6b6b6;
  outline: none;
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
  font-family: "Roboto", arial;
  font-size: 16px;
  background: #fcfcfc;
}

.contenedor-formulario .formulario .input-group textarea:focus, .contenedor-formulario .formulario .input-group textarea:active {
  outline: none;
  border: 2px solid #303f9f;
}

.contenedor-formulario .formulario .input-group textarea.error {
  border: 2px solid #d32f2f;
}

.contenedor-formulario .formulario input[type='button'] {
  background: #303f9f;
  border-radius: 16px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", arial;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contenedor-formulario .formulario input[type='button']:hover {
  background: #0074d9;
}
/*# sourceMappingURL=estilosCe.css.map */