* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2f7;
  font-family: "Roboto", arial;
  border-top: 30px solid #303f9f;
}

/* ------------------------- */
/* Formulario */
/* ------------------------- */
.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px grey;
          box-shadow: 0px 0px 10px grey;
}

.contenedor-formulario {
  width: 100%;
  padding: 40px;
}

.contenedor-formulario .formulario {
  width: 100%;
  margin: auto;
}

.contenedor-formulario .formulario .input-group {
  position: relative;
  margin-bottom: 32px;
}

.contenedor-formulario .formulario .input-group input[type='text'],
.contenedor-formulario .formulario .input-group input[type='password'] {
  font-family: "Roboto", arial;
  font-size: 16px;
  color: #303f9f;
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #bbdefb;
}

.contenedor-formulario .formulario .input-group input[type='text']:focus, .contenedor-formulario .formulario .input-group input[type='text']:active,
.contenedor-formulario .formulario .input-group input[type='password']:focus,
.contenedor-formulario .formulario .input-group input[type='password']:active {
  border-bottom: 2px solid #303f9f;
}

.contenedor-formulario .formulario .input-group input[type='text'].error,
.contenedor-formulario .formulario .input-group input[type='password'].error {
  border-bottom: 2px solid #d32f2f;
}

.contenedor-formulario .formulario .input-group input[type='text'].error + label,
.contenedor-formulario .formulario .input-group input[type='password'].error + label {
  color: #d32f2f;
}

.contenedor-formulario .formulario .input-group label {
  color: #303f9f;
}

.contenedor-formulario .formulario .input-group label.label {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 16px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  left: 0;
}

.contenedor-formulario .formulario .input-group label.label.active {
  top: -12px;
  font-size: 12px;
  line-height: 12px;
  color: #b6b6b6;
}

.contenedor-formulario .formulario input[type='button'] {
  background: #303f9f;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", arial;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contenedor-formulario .formulario input[type='button']:hover {
  background: #0074d9;
}

/* ------------------------- */
/* Selectbox */
/* ------------------------- */
a {
  text-decoration: none;
}

.selectbox {
  width: 100%;
  margin: auto;
  position: relative;
}

.select {
  background: #bbdefb;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
  z-index: 200;
  border: 2px solid transparent;
}

.select.active, .select:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #303f9f;
}

.select.active::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-top: 15px solid #303f9f;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
}

.select.error {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #d32f2f;
}

.select i {
  font-size: 40px;
  margin-left: 20px;
  color: #303f9f;
}

.titulo {
  margin-bottom: 10px;
  color: #303f9f;
  font-weight: 600;
  font-size: 30px;
}

.descripcion {
  font-size: 18px;
  color: #0074d9;
}

.opciones {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  max-height: 400px;
  overflow: auto;
  z-index: 100;
  width: 100%;
  display: none;
}

.opciones.active {
  display: block;
  -webkit-animation: fadeIn 0.3s forwards;
          animation: fadeIn 0.3s forwards;
  position: absolute;
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(-200px) scale(0.5);
            transform: translateY(-200px) scale(0.5);
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: translateY(-200px) scale(0.5);
            transform: translateY(-200px) scale(0.5);
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.contenido-opcion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.contenido-opcion img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

.opciones .contenido-opcion {
  padding: 30px;
}

.opciones .contenido-opcion:hover {
  background: #303f9f;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
  color: #fff;
}
/*# sourceMappingURL=estilosR.css.map */