* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body,
html {
	height: 100%;
}

body {
	background-color: #f2f2f7;
	font-family: 'Roboto', arial;
	font-size: 16px;
}

/* ------------------------- */
/* Header */
/* ------------------------- */

header {
	overflow: hidden;
	background-color: #4267B2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header a.logo {
	float: left;
	padding: 12px;
	text-decoration: none;
	border-radius: 4px;
}

header a.logo:active {
	background-color: white;
}

header a.logo img {
	height: 50px;
	width: auto;
}

.header-right {
	float: right;
	margin-right: 10px;
}

.header-right a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 54px;
	border-radius: 4px;
	margin-right: 10px;
	border-right: 1px solid #304b83;
	border-left: 1px solid #304b83;
}

.header-right a:active {
	color: white;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}

	.header-right {
		float: none;
	}
}

/* ------------------------- */
/* Main */
/* ------------------------- */
/* ----- ----- Pestañas ----- ----- */
.tablink {
	background-color: #666666;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 16px;
	font-size: 1em;
	width: 50%;
}

.tablink:hover {
	background-color: #777777;
	transition: 0.5s ease all;
}

.tabcontent {
	color: black;
	display: none;
	padding-top: 60px;
	height: 100%;
}

/* ----- ----- Formulario (Datos del Cliente) ----- ----- */
.datosP {
	width: 30%;
	margin: auto;
}

.datosP form fieldset {
	border: 2px solid #aaaaaa;
	padding: 20px;
}

.datosP form label {
	font-size: 12px;
	display: block;
}

.datosP form input[type='text'],
input[type='number'],
input[type='date'],
input[type='tel'] {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #f2f2f7;
	border-radius: 10px;
	outline: none;
	font-size: 14px;
}

.datosP form input[type='text']:focus,
input[type='number']:focus,
input[type='date']:focus,
input[type='tel']:focus {
	border-color: #0074D9;
	transition: 0.5s ease all;
	outline: none;
}

.datosP form .btn {
	width: 100%;
	border-top: 2px solid #aaaaaa;
}

.fbtn {
	display: inline-block;
	width: 48.49%;
}
.fAction input[type='button'],
input[type='reset'] {
	width: 100%;
	padding: 12px;
	background: #0074D9;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	outline: none;
	margin-top: 10px;
}

.fAction input[type='button']:hover,
input[type='reset']:hover {
	background: #1592ff;
	transition: 0.5s ease all;
	cursor: pointer;
	border: none;
	outline: none;
}

/* ----- ----- Solicitud de Examenes ----- ----- */

.datosE {
	width: 40%;
	margin: auto;
}

.datosE fieldset {
	border: 2px solid #aaaaaa;
	padding: 20px;
}

.datosE label {
	color: #0074D9;
	padding: 5px 15px 5px 51px;
	display: inline-block;
	position: relative;
	font-size: 1em;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-right: 10px;
	margin-bottom: 10px;
}

.datosE label:hover {
	background-color: rgb(0, 116, 217, 0.1);
}

.datosE label:before {
	content: "";
	width: 17px;
	height: 17px;
	display: inline-block;
	background-color: none;
	border: 3px solid #0074D9;
	border-radius: 3px;
	position: absolute;
	left: 17px;
	top: 3px;
}

.datosE input[type='checkbox'] {
	display: none;
}

.datosE input[type='checkbox']:checked + label {
	padding: 5px 15px;
	background-color: #0074D9;
	border-radius: 2px;
	color: #fff;
}

.datosE input[type='checkbox']:checked + label:before {
	display: none;
}