* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2f7;
  font-family: "Roboto", arial;
}

/* ------------------------- */
/* Header */
/* ------------------------- */
header {
  overflow: hidden;
  background: #303f9f;
}

header .logo {
  float: left;
  padding: 12px;
  text-decoration: none;
  border-radius: 16px;
}

header .logo:active {
  background: #fff;
}

header .logo img {
  width: auto;
  height: 50px;
}

header .header-right {
  float: right;
}

header .header-right a {
  float: left;
  color: #111111;
  padding: 16px;
  text-decoration: none;
  font-size: 24px;
  margin: 8px;
  border-right: 2px solid #3e4a97;
  border-left: 2px solid #3e4a97;
  border-radius: 16px;
}

header .header-right a:active {
  color: #fff;
}

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
}

.contenedor-formulario {
  width: 40%;
  padding: 30px 6px 30px 30px;
  float: left;
}

.contenedor-formulario .formulario {
  width: 100%;
  margin: auto;
}

.contenedor-formulario .formulario .input-group {
  position: relative;
  margin-bottom: 32px;
}

.contenedor-formulario .formulario .input-group input[type='text'],
.contenedor-formulario .formulario .input-group input[type='date'],
.contenedor-formulario .formulario .input-group input[type='number'] {
  font-family: "Roboto", arial;
  font-size: 16px;
  color: #303f9f;
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #bbdefb;
}

.contenedor-formulario .formulario .input-group input[type='text']:focus, .contenedor-formulario .formulario .input-group input[type='text']:active,
.contenedor-formulario .formulario .input-group input[type='date']:focus,
.contenedor-formulario .formulario .input-group input[type='date']:active,
.contenedor-formulario .formulario .input-group input[type='number']:focus,
.contenedor-formulario .formulario .input-group input[type='number']:active {
  border-bottom: 2px solid #303f9f;
}

.contenedor-formulario .formulario .input-group input[type='text'].error,
.contenedor-formulario .formulario .input-group input[type='date'].error,
.contenedor-formulario .formulario .input-group input[type='number'].error {
  border-bottom: 2px solid #d32f2f;
}

.contenedor-formulario .formulario .input-group input[type='text'].error + label,
.contenedor-formulario .formulario .input-group input[type='date'].error + label,
.contenedor-formulario .formulario .input-group input[type='number'].error + label {
  color: #d32f2f;
}

.contenedor-formulario .formulario .input-group label {
  color: #303f9f;
  cursor: text;
}

.contenedor-formulario .formulario .input-group label.label {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 16px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  left: 0;
}

.contenedor-formulario .formulario .input-group label.label.active {
  top: -12px;
  font-size: 12px;
  line-height: 12px;
  color: #b6b6b6;
}

.contenedor-formulario .formulario .input-group label.labelD {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 16px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 18px;
  left: 110px;
}

.contenedor-formulario .formulario .input-group label.labelD.active {
  top: -12px;
  left: 0;
  font-size: 12px;
  line-height: 12px;
  color: #b6b6b6;
}

.contenedor-formulario .formulario input[type='button'] {
  background: #303f9f;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", arial;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contenedor-formulario .formulario input[type='button']:hover {
  background: #0074d9;
}

.pacientes {
  width: 60%;
  padding: 30px 30px 30px 6px;
}

.pacientes table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

.pacientes table th,
.pacientes table td {
  padding: 15px;
}

.pacientes table th {
  background: #009245;
  color: #fff;
}

.pacientes table tr:nth-child(even) {
  background: #f2f2f2;
}

.pacientes table tfoot {
  display: none;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.overlay .popup {
  background: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 40%;
  opacity: 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.overlay .popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #bbbbbb;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.overlay .popup .btn-cerrar-popup:hover {
  color: #000;
}

.overlay .popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.overlay .popup .table-popup {
  width: 100%;
  border: 2px solid #009245;
  border-radius: 10px;
}

.overlay .popup .table-popup table {
  border-collapse: collapse;
  width: 100%;
}

.overlay .popup .table-popup table th,
.overlay .popup .table-popup table td {
  padding: 10px;
}

.overlay .popup .table-popup table tr:nth-child(even) {
  background: #f2f2f2;
}

.overlay .popup .table-popup table th {
  background: #009245;
  color: white;
}

.overlay .popup .btn-abrir-popup {
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #0074d9;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  outline: none;
  display: block;
  position: relative;
  left: 40px;
  top: 20px;
}

.overlay .popup .btn-abrir-popup:hover {
  background: rgba(0, 116, 217, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup.active h3 {
  -webkit-animation: entradaTitulo 0.8s ease 0.5s forwards;
          animation: entradaTitulo 0.8s ease 0.5s forwards;
}

@-webkit-keyframes entradaTitulo {
  from {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes entradaTitulo {
  from {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=estilosHm.css.map */