/* ------------------------- */
/* Header */
/* ------------------------- */
header {
	overflow: hidden;
	background: $primary;
	.logo {
		float: left;
		padding: 12px;
		text-decoration: none;
		border-radius: 16px;
		&:active {
			background: #fff;
		}
		img {
			width: auto;
			height: 50px;
		}
	}
	.header-right {
		float: right;
		a {
			float: left;
			color: $black;
			padding: 16px;
			text-decoration: none;
			font-size: 24px;
			margin: 8px;
			border-right: $borde solid #3e4a97;
			border-left: $borde solid #3e4a97;
			border-radius: 16px;
			&:active {
				color: #fff;
			}
		}
	}
}
