@import '_variables';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: $fondo;
	font-family: $font-family;
}

@import '_header';

.myForm {
	width: 25%;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.myForm fieldset {
	border: 2px solid #aaaaaa;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
}

.myForm input[type='text'] {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #f2f2f7;
	border-radius: 10px;
	outline: none;
	font-size: 14px;
}

.myForm input[type='text']:focus {
	border-color: #0074d9;
	transition: 0.5s ease all;
	outline: none;
}

.myForm input[type='button'] {
	width: 100%;
	padding: 12px;
	background: #0074d9;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	outline: none;
}

.myForm input[type='button']:hover {
	background: rgba(0, 116, 217, 0.8);
	transition: 0.5s ease all;
	cursor: pointer;
	border: none;
	outline: none;
}

div.pacientes {
	width: 40%;
	margin-top: 30px;
	margin-left: 40px;
	display: inline-block;
	border: 2px solid #009245;
	border-radius: 10px;
}

.pacientes table {
	border-collapse: collapse;
	width: 100%;
}

.pacientes table th,
td {
	padding: 10px;
}

.pacientes table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.pacientes table th {
	background-color: #009245;
	color: white;
}

.pacientes table tfoot {
	display: none;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */
div.overlay {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

div.overlay.active {
	visibility: visible;
}

div.popup {
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 40%;
	opacity: 0;
	transition: 0.3s ease all;
	transform: scale(0.7);
}

div.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #bbbbbb;
	transition: 0.3s ease all;
}

div.popup .btn-cerrar-popup:hover {
	color: #000;
}

div.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

div.table-popup {
	width: 100%;
	border: 2px solid #009245;
	border-radius: 10px;
}

div.table-popup table {
	border-collapse: collapse;
	width: 100%;
}

div.table-popup table th,
td {
	padding: 10px;
}

div.table-popup table tr:nth-child(even) {
	background-color: #f2f2f2;
}

div.table-popup table th {
	background-color: #009245;
	color: white;
}

div.popup button {
	margin-top: 20px;
	padding: 0px 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #0074d9;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s ease all;
	outline: none;
}

div.popup button:hover {
	background: rgba(0, 116, 217, 0.8);
}

.btn-abrir-popup {
	padding: 0px 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #0074d9;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s ease all;
	outline: none;
	display: block;
	position: relative;
	left: 40px;
	top: 20px;
}

.btn-abrir-popup:hover {
	background: rgba(0, 116, 217, 0.8);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
	opacity: 1;
	transform: scale(1);
}

.popup.active h3 {
	animation: entradaTitulo 0.8s ease 0.5s forwards;
}

@keyframes entradaTitulo {
	from {
		transform: translateY(-25px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
