@import '_variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $fondo;
	font-family: $font-family;
}

@import '_header';

/* ----- ----- Pestañas ----- ----- */
.tablink {
	background: #666666;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 16px;
	font-size: 16px;
	width: 33.33%;
	text-decoration: none;
	text-align: center;
	&.active {
		background: $color-primario;
		&:hover {
			background: rgba($color-primario, $alpha: 0.9);
		}
	}
	&:hover {
		background: #777777;
		transition: 0.5s ease all;
	}
}

/* ------------------------- */
/* Formulario */
/* ------------------------- */
.wrap {
	width: 90%;
	max-width: 600px;
	padding: 40px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 0px 3px grey;
	margin-bottom: 20px;
}

.contenedor-formulario {
	width: 100%;
	padding: 60px;
	.formulario {
		width: 100%;
		margin: auto;
		.input-group {
			position: relative;
			margin-bottom: 32px;
			label {
				color: $primary;
				margin: 4px;
			}
			&.checkbox label {
				display: inline-block;
				cursor: pointer;
				color: $primary;
				position: relative;
				padding: 5px 15px 5px 51px;
				font-size: 16px;
				border-radius: 6px;
				transition: all 0.3s ease;
				&:hover {
					background: $light-primary;
				}
				&:before {
					content: '';
					display: inline-block;
					width: 16px;
					height: 16px;
					position: absolute;
					left: 16px;
					border-radius: 50%;
					background: none;
					border: $borde solid $primary;
				}
			}
			// Clase de error para Checkbox
			&.error {
				label {
					color: $error;
					&:hover {
						background: rgba($error, 0.2);
					}
					&:before {
						border: $borde solid $error;
					}
				}
			}
			&.checkbox {
				label:before {
					border-radius: 3px;
				}
				input[type='checkbox'] {
					display: none;
					&:checked + label:before {
						display: none;
					}
					&:checked + label {
						background: $primary;
						color: $white;
						padding: 5px 15px;
					}
				}
			}
			textarea {
				width: 100%;
				padding: 15px;
				border: $borde solid $divider;
				outline: none;
				resize: vertical;
				min-height: 100px;
				max-height: 200px;
				font-family: $font-family;
				font-size: 16px;
				background: #fcfcfc;
				&:focus,
				&:active {
					outline: none;
					border: $borde solid $primary;
				}
				&.error {
					border: $borde solid $error;
				}
			}
		}
		input[type='button'] {
			background: $primary;
			border-radius: 16px;
			border: $borde solid $white;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-family: $font-family;
			font-size: 16px;
			padding: 15px;
			width: 100%;
			outline: none;
			transition: all 0.3s ease;
			&:hover {
				background: $color-primario;
			}
		}
	}
}
