@import '_variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $fondo;
	font-family: $font-family;
}

@import '_header';

.panel {
	width: 100%;
	background: #555;
	overflow: auto;
	button {
		float: left;
		padding: 12px;
		background: #555;
		color: white;
		text-decoration: none;
		font-size: 17px;
		border: none;
		transition: 0.5s ease all;
		cursor: pointer;
		&:hover {
			background: $color-secundario;
		}
	}
}

.section1 {
	float: left;
	width: 30%;
}

.trabajadores {
	width: 100%;
	margin-top: 20px;
	margin-left: 20px;
	border: $borde solid $color-secundario;
	border-radius: 10px;
	table {
		border-collapse: collapse;
		width: 100%;
		th,
		td {
			padding: 10px;
		}
		tr:nth-child(even) {
			background: $white;
		}
		th {
			background: $color-secundario;
			color: white;
		}
	}
}

form {
	width: 25%;
	margin-top: 20px;
	margin-left: 20px;
	width: 100%;
}

fieldset {
	border: $borde solid $divider;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
}

.resultadosP {
	width: 60%;
	margin-left: 40px;
	margin-top: 20px;
	display: none;
	border: $borde solid $color-primario;
	table {
		border-collapse: collapse;
		width: 100%;
		th,
		td,
		textarea {
			padding: 10px;
		}
		tr:nth-child(even) {
			background: $white;
		}
		th {
			background: $color-primario;
			color: white;
		}
	}
	.panel {
		width: 100%;
		background: #555;
		overflow: auto;
		button {
			float: left;
			padding: 12px;
			background: #555;
			color: white;
			text-decoration: none;
			font-size: 17px;
			border: none;
			transition: 0.5s ease all;
			cursor: pointer;
			&:hover {
				background: $color-secundario;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.panel button {
		float: none;
		display: block;
	}
}
