@import '_variables';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: $fondo;
	font-family: $font-family;
}

@import '_header';

/* ----- ----- Pestañas ----- ----- */
.tablink {
	background: #666666;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 16px;
	font-size: 1em;
	width: 33.33%;
	text-decoration: none;
	text-align: center;
	&.active {
		background: #009245;
		&:hover {
			background: rgba($color-secundario, $alpha: 0.9);
		}
	}
	&:hover {
		background: #777777;
		transition: 0.5s ease all;
	}
}

/* ------------------------- */
/* Formulario */
/* ------------------------- */
.wrap {
	width: 90%;
	max-width: 500px;
	padding: 40px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 0px 3px grey;
}

.contenedor-formulario {
	width: 100%;
	color: $white;
	padding: 50px;
	.formulario {
		width: 100%;
		margin: auto;
		.input-group {
			position: relative;
			margin-bottom: 32px;
			// background: rgba(#ccc, .2)
			input[type='text'],
			input[type='date'],
			input[type='number'],
			input[type='tel'] {
				font-family: $font-family;
				font-size: 16px;
				color: $primary;
				width: 100%;
				outline: none;
				padding: 15px;
				background: none;
				border: none;
				border-bottom: $borde solid $light-primary;
				&:focus,
				&:active {
					outline: none;
					border-bottom: $borde solid $primary;
				}
				&.error {
					border-bottom: $borde solid $error;
					+ label {
						color: $error;
					}
				}
			}
			label {
				color: $primary;
				cursor: text;
				&.label {
					-webkit-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
					margin-left: 15px;
					font-size: 16px;
					line-height: 16px;
					position: absolute;
					top: 16px;
					left: 0;
					&.active {
						top: -12px;
						font-size: 12px;
						line-height: 12px;
						color: $divider;
					}
				}
				&.labelD {
					-webkit-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
					margin-left: 15px;
					font-size: 16px;
					line-height: 16px;
					position: absolute;
					top: 18px;
					left: 110px;
					&.active {
						top: -12px;
						left: 0;
						font-size: 12px;
						line-height: 12px;
						color: $divider;
					}
				}
			}
		}
		input[type='button'] {
			background: $primary;
			border-radius: 10px;
			border: $borde solid $white;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-family: $font-family;
			font-size: 16px;
			padding: 15px;
			width: 100%;
			outline: none;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			&:hover {
				background: rgba($primary, $alpha: 0.9);
			}
		}
	}
}
