@import '_variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $fondo;
	font-family: $font-family;
}

@import '_header';

.trabajadores {
	width: 35%;
	float: left;
	margin: 20px;
	border: $borde solid $color-secundario;
	table {
		border-collapse: collapse;
		width: 100%;
		th,
		td {
			padding: 10px;
		}
		tr:nth-child(even) {
			background: #ffffff;
		}
		th {
			background: $color-secundario;
			color: white;
		}
	}
	.panel {
		width: 100%;
		background: #555;
		overflow: auto;
		button {
			float: left;
			padding: 12px;
			background: #555;
			color: white;
			text-decoration: none;
			font-size: 14px;
			border: none;
			transition: 0.5s ease all;
			cursor: pointer;
			&:hover {
				background: $color-secundario;
			}
		}
	}
}

.pocoTexto {
	color: $divider;
	display: inline-block;
	width: 58%;
	padding: 80px 10px 10px 10px;
	margin: 20px;
	text-align: center;
	font-size: 22px;
}

.resultadosP {
	width: 60%;
	margin: 20px;
	border: $borde solid $color-primario;
	display: none;
	table {
		border-collapse: collapse;
		width: 100%;
		th,
		td {
			padding: 10px;
		}
		tr:nth-child(even) {
			background: #ffffff;
		}
		thead {
			th {
				background: $color-primario;
				color: #fff;
			}
		}
	}
	.panel {
		width: 100%;
		background: #555;
		overflow: auto;
		button {
			float: left;
			padding: 12px;
			background: #555;
			color: white;
			text-decoration: none;
			font-size: 14px;
			border: none;
			transition: 0.5s ease all;
			cursor: pointer;
			&:hover {
				background: $color-primario;
			}
		}
	}
}
